body {
  background-color: black;
}

img {
  height: 504px;
  width: 378px;
  padding: 50 px;
  border: white;
  border-width: 30px;
  background-color: maroon;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.welcome {
  align-items: center;
  background-color: maroon;
  font-family: cursive;
  font-size: large;
  margin: 75px;
}

.sidebar {
  display: flex;
  align-items: center;
  font-family: cursive;
  font-size: medium;
  width: 60%;
  float: left;
  background-color: maroon;
  padding: 50px;
  border: white;
  border-width: 60 px;
  margin-bottom: 10px;
  box-sizing: border-box;
}